# Combine EC all drugs data

Source of data: 

1. Active: https://ec.europa.eu/health/documents/community-register/html/reg_od_act.htm?sort=n
2. Withdrawn, suspended, expired, not renewed: https://ec.europa.eu/health/documents/community-register/html/reg_hum_nact.htm?sort=a
3. Rejected: https://ec.europa.eu/health/documents/community-register/html/reg_hum_refus.htm

In [1]:
import os

import numpy as np
import pandas as pd

path = os.path.dirname(os.path.dirname(os.getcwd()))
data_active = pd.read_excel(path + '/data/ec_all_drugs_active.xlsx', header=2)
data_active

              EU #        Brand name           Marketing Authorisation Holder
0      EU/1/14/944         Abasaglar                 Eli Lilly Nederland B.V.
1      EU/1/04/276           Abilify   Otsuka Pharmaceutical Netherlands B.V.
2      EU/1/13/882  ABILIFY MAINTENA   Otsuka Pharmaceutical Netherlands B.V.
3      EU/1/07/428          Abraxane         Bristol-Myers Squibb Pharma EEIG
4      EU/1/07/412          Abseamed  Medice Arzneimittel Pütter GmbH & Co KG
...            ...               ...                                      ...
1213  EU/1/19/1367          Zynteglo          bluebird bio (Netherlands) B.V.
1214   EU/1/08/479         Zypadhera                 Eli Lilly Nederland B.V.
1215   EU/1/96/022           Zyprexa                 Eli Lilly Nederland B.V.
1216   EU/1/99/125   Zyprexa Velotab                 Eli Lilly Nederland B.V.
1217   EU/1/11/714            Zytiga           Janssen-Cilag International NV

[1218 rows x 3 columns]

In [3]:
path = os.path.dirname(os.path.dirname(os.getcwd()))
data_not_active = pd.read_excel(path + '/data/ec_all_drugs_withdrawn_suspended_expired_not_renewed.xlsx', header=2)
data_not_active

,EU #,Brand name,Marketing Authorisation Holder
0,EU/1/05/313,Ablavar,TMC Pharma Services Ltd
1,EU/1/06/344,ACOMPLIA,Sanofi-Aventis
2,EU/1/16/1122,Aerivio Spiromax,Teva B.V.
3,EU/1/00/148,Agenerase,Glaxo Group Limited
4,EU/1/16/1123,Airexar Spiromax,Teva B.V.
...,...,...,...
264,EU/1/16/1107,Zinbryta,Biogen Idec Limited
265,EU/1/14/912,Zoledronic acid Teva Generics,Teva B.V.
266,EU/1/12/772,Zoledronic acid Teva Pharma,Teva B.V.
267,EU/1/14/976,Zontivity,Merck Sharp & Dohme Limited
268,EU/1/15/1080,Zurampic,Grünenthal GmbH

In [4]:
path = os.path.dirname(os.path.dirname(os.getcwd()))
data_rejected = pd.read_excel(path + '/data/ec_all_drugs_refused.xlsx', header=2)
data_rejected

,Brand name,INN,Marketing Authorisation Holder,Initial Decision date
0,Acrescent,memantine hydrochloride / donepezil hydrochloride,H. Lundbeck A/S,20 Feb 2013
1,Adlumiz,anamorelin,Helsinn Birex Pharmaceuticals Ltd,16 Nov 2017
2,Alpheon,recombinant human interferon-alfa-2a,BioPartners GmbH,05 Sep 2006
3,Alsitek,masitinib,AB Science,26 Jul 2018
4,Aplidin,plitidepsin,Pharma Mar S.A.,17 Jul 2018
...,...,...,...,...
61,Winfuran,nalfurafine,Toray International U.K. Limited,21 Mar 2014
62,Xeljanz (Refusal),tofacitinib,Pfizer Limited,08 Nov 2013
63,Yondelis,Trabectedin,Pharma Mar S.A.,07 Sep 2004
64,Zeftera,Ceftobiprole medocaril,Janssen-Cilag International NV,16 Sep 2010
65,Zelnorm,tegaserod,Novartis Europharm Limited,19 May 2006

## Label datasets and join them together

In [5]:
data_active['Status'] = 'Active'
data_not_active['Status'] = 'Not active'
data_rejected['Status'] = 'Rejected'

data = pd.concat([data_active, data_not_active, data_rejected])
data

,EU #,Brand name,Marketing Authorisation Holder,Status,INN,Initial Decision date
0,EU/1/14/944,Abasaglar,Eli Lilly Nederland B.V.,Active,NaN,NaN
1,EU/1/04/276,Abilify,Otsuka Pharmaceutical Netherlands B.V.,Active,NaN,NaN
2,EU/1/13/882,ABILIFY MAINTENA,Otsuka Pharmaceutical Netherlands B.V.,Active,NaN,NaN
3,EU/1/07/428,Abraxane,Bristol-Myers Squibb Pharma EEIG,Active,NaN,NaN
4,EU/1/07/412,Abseamed,Medice Arzneimittel Pütter GmbH & Co KG,Active,NaN,NaN
...,...,...,...,...,...,...
61,NaN,Winfuran,Toray International U.K. Limited,Rejected,nalfurafine,21 Mar 2014
62,NaN,Xeljanz (Refusal),Pfizer Limited,Rejected,tofacitinib,08 Nov 2013
63,NaN,Yondelis,Pharma Mar S.A.,Rejected,Trabectedin,07 Sep 2004
64,NaN,Zeftera,Janssen-Cilag International NV,Rejected,Ceftobiprole medocaril,16 Sep 2010
65,NaN,Zelnorm,Novartis Europharm Limited,Rejected,tegaserod,19 May 2006

## Export data

In [8]:
path = os.path.dirname(os.path.dirname(os.getcwd()))
name = '/data/ec_all_drugs.csv'
data.to_csv(path + name, index=False)